root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{md,yml,yaml,json}]
indent_size = 2

[*.{bat,cmd}]
end_of_line = crlf

[*.{ps1,psm1,psd1,xaml,iss}]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false
